
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
  }

.errorform {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    border-left: 2px solid red;
} 