.ok1{
    margin-top:2px;
     margin-right:5px;
    margin-bottom:4em;
    margin-left:0;
    padding-top: 2px;
    padding-bottom:10px;
    padding-right:50px
    
}

.centre{
    font-size: small;
    position:static;
    
}
    