<div *ngIf="!success_register">
    <form #f='ngForm' (ngSubmit)="onSubmit(f)" id="userform">
      <h1>Formulaire d'inscription</h1>
      <div class="form-group">
        <label for="username">Name</label>
        <input type="text" class="form-control" ngModel name="username" required placeholder="exemple: lnadal-s">
		</div>
    <div class="form-group">
      <label for="Courriel"> Courriel </label>
      <input type="email" #email="ngModel" class="form-control" name="courriel" placeholder="username@something.io" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel required>
      <div class="errorform" *ngIf="email.invalid && (f.submitted || email.touched)">
        <div *ngIf="email.errors.required">Courriel is required.</div>
        <div *ngIf="email.errors.pattern"> Address invalid.</div>
      </div>
    </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" #password="ngModel" class="form-control" ngModel name="password" placeholder="******" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
      
        <div class="errorform" *ngIf="password.invalid && (f.submitted || password.touched)" >
          <div *ngIf="password.errors.required"> Password is required. </div>
          <div *ngIf="password.errors.pattern"> Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</div>
        </div>
      </div>
     
      <div class="form-group">
        <label for="confirmpassword"> Confirm password</label>
        <input type="password" #confirmpassword="ngModel" class="form-control" ngModel name="confirmpPassword" placeholder="******" required pattern="{{ password.value}}">
      <div class="errorform" *ngIf="confirmpassword.invalid && (f.submitted || confirmpassword.touched) && password.valid" >
        <div *ngIf="confirmpassword.errors.required"> Confirm password is required. </div>
        <div *ngIf="confirmpassword.errors.pattern"> Password & Confirm Password does not match.</div>
      </div>
    </div>
    <div class ="errorform"[hidden]="!f.submitted && (f.valid || f.pristine)"> Invalid informations</div>
      <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>
<div *ngIf="success_register">
    <h2>Félicitation, vous avez été correctement inscrit.</h2>
</div>

